<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <div class="container">
  <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
    Régis Bruggheman
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.behance.net/regisbrugg6c6b" target="_blank">
          behance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/regisbruggheman" target="_blank">
          github
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:regis.bruggheman@gmail.com">
          email
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tel:+33-6-73-74-35-38">
          +33 (0)6 73 74 35 38
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
