
// Fonts

$font-family-sans-serif: 'Gothic A1', sans-serif;

// Colors

$body-bg: #efefef;
$text-color: #272727;
$primary-color: #fd7e14; //orange

// Style anchor elements.

$link-color: $text-color;
$link-decoration: none;
$link-hover-color: rgba($text-color, .7);
$link-hover-decoration: none;

// Navbar

$navbar-light-color: rgba($text-color, .5);
$navbar-light-hover-color: rgba($text-color, .7);
$navbar-light-active-color: rgba($text-color, .9);
$navbar-light-disabled-color: rgba($text-color, .3);
$navbar-light-toggler-border-color: rgba($text-color, .1);
$navbar-padding-y: 3rem;

$navbar-brand-font-size: 1rem;

@import "bootstrap/bootstrap";

:selection {
  background: $primary-color;
  text-shadow: $link-decoration;
}

a[href^="tel:"] {
  color: $link-color;
  text-decoration: none;
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1000px;
  }
}

/*----- LAYOUT -----*/

.site-footer {
  padding: 0.5rem 1rem;
}
.site-section {
  width: 100%;
  background-color: $white;
  padding: 6rem 0;
}
/*----- NAVBAR -----*/

.navbar {
  border-bottom: 1px solid #fff;
}
.navbar-nav {
  .nav-link {
    text-transform: uppercase;
    font-size: .8rem;
  }
}
.navbar-brand {
  font-weight: 700;
  text-transform:uppercase;
  letter-spacing: 1px;
  img {
    max-width: 80px;
    margin-right: 20px;
  }
}

/*----- HOME -----*/

.hero {
  padding: 6rem 0;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
}

/*----- PROJECTS LIST -----*/

.project-item {
  margin: 0 0 3rem 0;
}
.project-item-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}
.project-item-header {
  padding: 1.25rem;
  margin: 0;
  border: none;
  overflow: hidden;
  border-left: 6px solid $text-color;
}
.project-item-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: normal;
}
.project-item-meta {
  margin-bottom: 0;
}
@include media-breakpoint-up(md) {
  .project-item-overlay {
    display: flex;
    align-items: flex-end;
  }
  .project-item-figure {
    max-width: 70% !important;
  }
  .project-item:nth-child(odd) {
    .project-item-header {
      order: -1;
      border-right: 6px solid $text-color;
      border-left: 0;
      text-align: right;
      margin-right: 1rem;
    }
  }
  .project-item:nth-child(even) {
    .project-item-header {
      order: 1;
      border-left: 6px solid $text-color;
      margin-left: 1rem;
    }
  }
}

/* Zoom In #1 */
// .project-item-overlay {
//   -webkit-transition: .3s ease-in-out;
//   transition: .3s ease-in-out;
//   &:hover {
//     background-color: $text-color;
//   }
// }

/*----- PROJECT -----*/

.article-single {
  header {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  footer {
    margin-bottom: 3rem;
    margin-top: 3rem;
    > div {
      margin-top: 1rem;
    }
  }
  figure {
    background-color: $white;
  }
}

.article-single-title {
  border-left: 6px solid $text-color;
  font-size: 1.4rem;
  padding-left: .7rem;
}
.nav-sharing-icons {
  .nav-link {
    padding: 0 1rem 0 0;
    font-size: 1.5rem;
  }
}
.article-single-footer {
  border-top: 1px solid #fff;
}

/*----- SKILLS -----*/
.progress-item {
  margin-bottom: 2rem;
}
.progress {
  height: 2px;
  background-color: $gray-200;
}
.progress-bar {
  background-color: $gray-400;
}
