// Colors

$body-bg: #efefef;
$text-color: #272727;
$primary-color: #fd7e14; //orange

// Style anchor elements.

$link-color: $text-color;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: none;


$navbar-light-color: rgba($text-color, .5);
$navbar-light-hover-color: rgba($text-color, .7);
$navbar-light-active-color: rgba($text-color, .9);
$navbar-light-disabled-color: rgba($text-color, .3);
$navbar-light-toggler-border-color: rgba($text-color, .1);
$navbar-padding-y: 3rem;

$navbar-brand-font-size: 1.4rem;

// Fonts

$font-family-sans-serif: 'Heebo', sans-serif;

@import "bootstrap/bootstrap";

:selection {
 background: $primary-color;
 text-shadow: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-main {
  display: flex;
  flex: 1;
}
.site-footer {
  padding: 0.5rem 1rem;
}

.navbar-nav {
  .nav-link {
    text-transform: uppercase;
    font-size: .8rem;
  }
}
.navbar-brand {

}
.hero {
  padding: 6rem 0;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
}
/*----- PROJECTS LIST -----*/
.project-item {
  margin: 0 0 3rem 0;
}
.project-item-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}

.project-item-header {
  padding: 1.25rem;
  margin: 0;
  border: none;
  overflow: hidden;
}
@media (min-width: 576px) {
  .project-item-figure {
    max-width: 75% !important;
  }
  .project-item-header {
    position: absolute;
    z-index: 1;
    width: 30%;
    min-width: 220px;
    max-width: 320px;
    height: 74%;
    top: 13%;
  }
  .project-item:nth-child(odd) .project-item-header {
    right: 0;
    left: auto;
  }
  .project-item:nth-child(odd) .project-item-figure {
    margin-right: 25%;
  }
  .project-item:nth-child(even) .project-item-header {
    left: 0;
    right: auto;
  }
  .project-item:nth-child(even) .project-item-figure {
    margin-left: 25%;
  }
}

.project-item-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: normal;
  margin-right: 2rem;
}

.project-item-meta {
  margin-bottom: 0;
  color: #000;
  line-height: 1.3;
  font-size: .9rem;
}


/* Zoom In #1 */
.project-item-overlay {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover {
    background-color: $text-color;
  }
}
