<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    </head>
    <body>

        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main role="main" class="site-main ">
          <div class="container">
            <div class="row">
              <div class="col-12">
                {{ block "main" . }}{{ end }}
              </div>
            </div>
          </div>
        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>
