{{ define "main" }}
<div class="container">
  <div class="row">
    <article class="col col-12 article-single">
        <header>
          <h1 class="article-single-title">{{ .Title }}</h1>
        </header>
        {{ range .Resources.ByType "image" }}
          <figure class="figure">
            <img src="{{ .Permalink }}" alt="{{ .Title }}" class="img-fluid">
          </figure>
        {{ end }}
        {{ if .Params.Website }}
          <a href="{{ .Params.Website }}" target="_blank">
            <i class="fas fa-arrow-right"></i> Visiter le site
          </a>
        {{ end }}
        <footer class="row article-single-footer">
          <div class="col-md-4">
            <strong>Partager ce projet :</strong>
            {{ partial "sharing-icons.html" . }}
          </div>
          <div class="col-md-4">
            <strong>Champs d'intervention :</strong>
            {{ partial "post-tags.html" . }}
          </div>
          <div class="col-md-4">
            <strong>Secteur d'activité :</strong>
            {{ if .Params.Domain }}
              <p>{{ .Params.Domain | markdownify }}</p>
            {{ end }}
          </div>
        </footer>
    </article>
  </div>
</div>
    {{ partial "paginator.html" . }}
{{ end }}
