<article class="col col-12 project-item">
  <a href='{{ .Permalink }}' class="project-item-overlay">
    <!-- Image path on file system -->
    {{ $img_src := .Resources.GetMatch "images/*hero*" }}
    <!-- Check whether the path exists -->
    <img src="{{ $img_src.RelPermalink }}" class="img-fluid project-item-figure" itemprop="image">

    <header class="project-item-header">
      <h2 class="project-item-title">{{ .Title }}</h2>
      {{ if .Params.Domain }}
        <p class="project-item-meta">
          {{ .Params.Domain | markdownify }}
        </p>
      {{ end }}
    </header>
  </a>
</article> <!-- /.project-item -->
