<nav class="col col-12" aria-label="nav pagination">
  <ul class="pagination justify-content-center">
  <li class="page-item">
    {{ with .NextInSection }}
      <a class="page-link" href="{{.Permalink}}" aria-label="Précédent">
        <span aria-hidden="true">&larr; </span>
        <span class="sr-only">Précédent</span>
      </a>
    {{ end }}
  </li>
  <li class="page-item">
    {{ with .PrevInSection }}
      <a class="page-link" href="{{.Permalink}}" aria-label="Suivant">
        <span class="sr-only">Suivant</span>
        <span aria-hidden="true"> &rarr;</span>
      </a>
    {{ end }}
  </li>
  </ul>
</nav>
