<nav class="nav nav-sharing-icons">
  <a class="nav-link" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><i class="fab fa-facebook-square"></i></a>
  <a class="nav-link" href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+"><i class="fab fa-google-plus-square"></i></a>
  <a class="nav-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a class="nav-link" href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><i class="fab fa-twitter-square"></i></a>
</nav>
