<section class="site-section site-section-skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h6>Compétences professionnelles.</h6></div>
        <div class="col-sm-8">

          <div class="progress-item">
            <div class="progress-title">
              Design <span class="p-coutn">80</span>%
            </div>
            <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"></div>
            </div>
          </div>

          <div class="progress-item">
            <div class="progress-title">
              Branding <span class="p-coutn">60</span>%
            </div>
            <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60"></div>
            </div>
          </div>

          <div class="progress-item">
            <div class="progress-title">
              Websites <span class="p-coutn">100</span>%
            </div>
            <div class="progress">
              <div class="progress-bar w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></div>
            </div>
          </div>

          <div class="progress-item">
            <div class="progress-title">
              Publishing <span class="p-coutn">40</span>%
            </div>
            <div class="progress">
              <div class="progress-bar w-50" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="40"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
